<LeafletMap @lat={{lat}} @lng={{lng}} @zoom={{zoom}} as |layers|>

    <layers.tile @url={{url}} />

  <layers.marker @location={{emberConfLocation}} as |marker|>
    <marker.popup>
      <h3>DBHS</h3>
    </marker.popup>
  </layers.marker>

</LeafletMap>